body{
    background-color: lightblue;
}
img{
    width: 200px;
    height: 200px;
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#results{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    margin-left: 25px;
}

#score{
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreItem{
    padding-left: 50px;
}

p{
    padding-left: 20px;
}
